# Python / Streamlit
__pycache__/
*.pyc
.venv
.env
.streamlit/secrets.toml

# Credentials (VERY IMPORTANT)
**/config/credentials.json
**/.secrets/*
.secrets/
.secrets/*

# OS/editor
.DS_Store
Thumbs.db
